
.a-btn-green { background-color: #51af4a; border: 1px solid #42993c; padding: 12px 20px; border-radius: 6px; color: #fff; }

.a-btn-blue { background-color: #367cd2; border: 1px solid #2c69b5; padding: 12px 20px; border-radius: 6px; color: #fff; }

.a-btn-gray { background-color: #b5b5b5; border: 1px solid #a5a2a2; padding: 12px 20px; border-radius: 6px; color: #fff; }
