ul.statistics li { display: inline-block; text-align: left; font-size: 18px; font-weight: 100; line-height: 1.8em;}
.mod-box-color .statcount { color: white; }
span.statcount { display: block; font-size: 35px; font-weight: normal; }